<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="text-black-50">
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div class="max-w-sm rounded overflow-hidden shadow-md m-4 border-b-1 border-r-1 border-l-1 border-gray-600">
  <img class="w-full" src="https://tailwindcss.com//img/card-top.jpg" alt="Fim
    de semana nas montanhas!">
  <div class="px-6 py-4">
    <div class="font-bold text-xl md-2 text-black">Fim de Semana em Coldest</div>
    <p class="text-gray-700 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
      quia, nulla! Maiores et
      perferendis eaque, exercitationem praesentium nihil.
    </p>
  </div>
  <div class="px-6 py-4">
    <span class="inline-block bg-gray-200 rounded-full px-3 text-sm
      font-semibold text-gray-700 mr-2">#Fotografia</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 text-sm
      font-semibold text-gray-700 mr-2">#Viagem</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 text-sm
      font-semibold text-gray-700 mr-2">#Inverno</span>
  </div>
</div>


<div class="max-w-sm shadow-md border-b-1 border-r-1 border-l-1 border-gray-600 md:flex bg-white rounded-l-lg p-6 m-4">
  <img class="h-16 w-16 md:h-24 md:w-24 rounded-full mx-auto md:mx-0 md:mr-6"
    src="../assets/avatar/nick-bolton-unsplash.jpg" alt="">
  <div class="text-center md:text-left">
    <h2 class="text-xl">Leandro Lopes</h2>
    <div class="text-green-500">Analista de Sistemas</div>
    <div class="text-gray-600">leandro.lopes@confitec.com.br</div>
    <div class="text-gray-600">(55)11 5656-5656</div>
  </div>
</div>

<router-outlet></router-outlet>
